<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/admin}">
    <main layout:fragment="content_ad">
        <div class="main">
            <div class="nav">
                <ul>
                    <li>사용자 관리</li>
                    <li>클래스 관리</li>
                    <li>문의 사항 관리</li>
                    <li>결제 관리</li>
                </ul>
            </div>
            <div class="content">
                <p>관리자님 접속하셨습니다.</p>
            </div>
        </div>
    </main>
</html>